.monsterListGroupItem {
  padding: 2px 0 2px 3px !important;
  /* border-radius: 10px; */
}
/* NOTE subtracting necessary height to make the component take up the whole screen */
.monsterList {
  background-color: #FBEFDA;
  height: Calc(100vh - 170px);
  border-radius: 10px 0 0 0;
  border-left: solid 2px #E3982B;
  border-top: solid 1px #E3982B;
  /* box-shadow: 10px 10px 8px #888888; */
}
.monsterListGroup {
  overflow: scroll;
  height:100%;
}
.monsterListGroupItem:nth-child(odd) {
  background-color: #E4D7CA !important;
}
.monsterListGroupItem:nth-child(even) {
  background-color: #E9DFD4!important;
}
.monsterListGroupItem:hover {
  background-color: #D7C5B2 !important;
}
.searchBar {
  width:100% !important;
  padding: 2px 5px 2px 3px !important;
  /* height:20px; */
}
.searchBarInput {
  /* height:20px; */
  padding:0px;
  margin:0px;
  width:100% !important;
}
