.SignInPage {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:30px;
<<<<<<< HEAD
}
.signInForm {
  padding:40px !important;
  background-color: inherit;
=======
  padding:40px !important;
>>>>>>> 2620e44f7733ac8b15c3dbbae6e258977725e410
}
